*{
  margin: 0;
  padding: 0;
}

.MainBar_Logo{
  height: 100%;
  line-height: 60px;
  width: 60px;
  margin: 0 20px ;
}

ul{
  display: flex;
  list-style: none;
}

li{
  height: 100%;
  line-height: 60px;
  margin: 0 10px;
}

.MainBar_MainBarNav{
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.Aside_Menu{
  display: flex;
}

.MainBar_Menu{
  padding: 0px 20px;
}

.MainBar_MenuItem{
  margin: 0px 10px;
}

.MainBar_MainBar{

  border: 1px solid black;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.presentation{
  height: 60px;
  position: static;
}

.Article_Shortcut{
  display: flex;
}

